{% extends 'base.html' %}

{% block title %} Nueva Alta {% endblock %}

{% block mi_precioso_bloque_de_formato %}
<div class="formwrapper">
    <h2 class="title">Nueva Alta</h2>
    <form action="creaalta" method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.fx.label }}
            {{ form.fx }}
            {% for error in form.fx.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-field">
            {{ form.concepto.label }}
            {{ form.concepto }}
            {% for error in form.concepto.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-field">
            {{ form.cantidad.label }}
            {{ form.cantidad }}
            {% for error in form.cantidad.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {{ form.submit }}
    </form>
</div>
{%  endblock %}
